// COLOR WHITE
$color-white-000: #ffffff;

// COLOR RED
$color-red-000: #ff0000;
$color-red-100: #600b21;

// COLOR BLUE
$color-blue-000: #0989ff;
$color-blue-100: #1b2d56;
$color-blue-200: #799ed0;
$color-blue-300: #9aa2b8;
$color-blue-400: #0085ff;

// COLOR BACKGROUND
$color-background-blue: linear-gradient(180deg, #16455f 0%, #0e1239 100%);
$color-background-red: linear-gradient(180deg, #cb0000 0%, #0e1239 100%);

// COLOR BUTTON BACKGROUND
$color-button-background-blue: #052137;
$color-button-background-red: #370505;
